i:hover {
  cursor: pointer;
}

#favoritesTab {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #F2EBE1;
  width: 15vw;
  height: 60vh;
  position: fixed;
  bottom: -55vh;
  right: 5vw;
  display: flex;
  flex-direction: column;
  transition: all 450ms ease;
}

#favoritesTab:hover {
  bottom: 0;
}

#favoritesTab h2 {
  font-weight: 600;
  font-size: 1.5rem;
  background-color: #C16632;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#favoritesTab a {
  color: #FAF9F8;
  text-decoration: none;
}

#favoritesTab a:hover {
  text-decoration: underline;
}

#favoritesList {
  height: 50vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  align-items: center;
  padding: 1rem 1rem;
  gap: 1rem;
}

#add-manually {
  font-weight: 600;
  font-style: italic;
  background-color: #B59275;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#add-manually a {
  color: #FAF9F8;
  text-decoration: none;
}

#add-manually a:hover {
  text-decoration: underline;
  font-style: normal;
}