#favoritesTab {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #E1D0BC;
  width: 15vw;
  height: 60vh;
  position: fixed;
  z-index: 100;
  bottom: -55vh;
  right: 5vw;
  display: flex;
  flex-direction: column;
  transition: all 450ms ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#favoritesTab:hover {
  bottom: 0;
}

#favoritesTab h2 {
  font-family: 'Josefin Sans', sans-serif, monospace;
  letter-spacing: 0.2rem;
  font-weight: 600;
  font-size: 1.5rem;
  background-color: #C16632;
  color: #FAF9F8;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#favoritesList {
  height: 50vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  align-items: center;
  padding: 1rem 1rem;
  gap: 1rem;
}

#manage-favorites {
  font-weight: 600;
  font-style: italic;
  background-color: #B59275;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#manage-favorites a {
  color: #FAF9F8;
  text-decoration: none;
}

#manage-favorites a:hover {
  text-decoration: underline;
  font-style: normal;
}