/* main content between header and footer */

main {
  width: 90vw;
  height: 75vh;
  display: flex;
  justify-content: space-between;
  margin: 2.5vh 5vw;
}

i {
  cursor: pointer;
  color: #D9A486
}

/* recommendations */

#recommendations {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* our favorite teas */

#our-favorite-teas {
  width: 65vw;
  height: 20vh;
  background-color: #E1D0BC;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

#our-favorite-teas div {
  height: 4vh;
  background-color: #656D4F;
  color: #FAF9F8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

#our-favorite-teas h2 {
  font-family: 'Josefin Sans', sans-serif, monospace;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}

#our-favorite-teas span {
  font-style: italic;
  font-weight: 300;
}

#our-favorite-teas-list {
  height: 6vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto 0;
  flex-wrap: wrap;
}

/* recommended teas */

#tea-advisor {
  width: 65vw;
  height: 50vh;
  background-color: #E1D0BC;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

#tea-advisor h2 {
  height: 5vh;
  background-color: #656D4F;
  color: #FAF9F8;
  font-family: 'Josefin Sans', sans-serif, monospace;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

#tea-advisor p {
  height: 5vh;
  background-color: #9B9B84;
  color: #FAF9F8;
  font-family: 'Josefin Sans', sans-serif;
  font-style: italic;
  font-weight: 300;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

#tea-advisor div {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tea-advisor i {
  color: #C16632;
}

/* manage favorites list */

#manageFavorites {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #E1D0BC;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 20vw;
  display: flex;
  flex-direction: column;
}

#manageFavorites h2 {
  background-color: #656D4F;
  color: #FAF9F8;
  font-family: 'Josefin Sans', sans-serif, monospace;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  padding: 1rem;
}

#manageFavoritesList {
  overflow-y: auto;
}

.manageFavoritesListItem {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin: 1.5rem auto;
}

.manageFavoritesListItem img {
  width: 50%;
  height: 100px;
  object-fit: contain;
  object-position: center;
  background-color: #C9A88D;
  border: .1rem solid #1A1A1A;
}

.manageFavoritesListItemDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

#manageFavorites i {
  color: #1A1A1A;
}

#add-manually {
  background-color: #9B9B84;
  font-size: 1.5rem;
  font-weight: 500;
  font-style: italic;
  text-align: center;
  padding: .5rem;
  margin-top: auto;
}

#add-manually a {
  color: #FAF9F8;
  text-decoration: none;
}

#add-manually a:hover {
  text-decoration: underline;
  font-style: normal;
}