body {
  font-family: 'Josefin Sans', sans-Josefin Sans;
  background-color: #FBEDDB;
  color: #333;
  margin: 0;
  padding: 0;
  display:right;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: auto;
}

h1 {
  font-family: 'Josefin Sans', Josefin Sans;
  color: #C16632;
  text-align: center;
  padding: 20px 0;
}
.location-info {
  background-color: #FAF9F8;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  padding: 20px;
}

.link-container {
  text-align: right;
  font-weight: bold;
  font-size: 22px;
}

.link-container a {
  text-decoration: none;
  color: #333; 
  margin: 0 10px;
}

.link-container a:hover {
  color: #C16632; 
}

.copyright {
  font-weight: bold;
  background-color: B59275;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  height: auto;
}

p {
  line-height: 1.6;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.location-info {
  max-width: 800px;
  margin: 0 auto; 
  padding: 20px; 
}

.location-info h2 {
  color: #333;
}

.location-info h3 {
  color: #006600;
}

.location-info p, .location-info ul {
  margin-bottom: 10px;
}

.location-info ul {
  padding-left: 20px;
}

.location-info li {
  list-style-type: disc;
}

.one-two-header p{
  font-size: 35px;
  text-align: left;
  font-family: 'Cedarville Cursive' , cursive;
  font-weight: bold; 
}

.one-two-rightheader,{
  display:flex;
  align-items: center;
  
}
.one-two-leftheader{
  display:flex;
  align-items: center;
}

.one-two-leftheader img {
  padding: 10px;
  border-radius: 50%;
  width: 80px;
  height: 80px; 
}

.one-two-header {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
}

.one-two-rightheader {
  display: flex;
  align-items: center;
}

body.dark-mode {
  background-color: #333;
  color: #01010f;
}

#header {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}
#cartIcon {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}
#teaImages img {
  margin: 5px;
}